{% load static extra_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Tabela</title>
</head>
<body>
    <table>
        <caption>Tabela</caption>
        <thead>
            <tr>
                {% for field in fields_verbose_name %}
                    <th>{{ field|capfirst }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in object_list %}
                <tr>
                    {% for field in fields_name %}
                        <td>
                            {% if field == 'status' %}
                                {{ value.get_status_display }}
                            {% else %}
                                {{ value|get_attr:field }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
